@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-400; /* Change to any Tailwind or DaisyUI color */
}

@layer utilities {
  .text-outline {
    text-shadow: 
      -0.5px -0.5px 0 black,  
      0.5px -0.5px 0 black,
      -0.5px  0.5px 0 black,
       0.5px  0.5px 0 black;
  }

  html, body {
    overflow-x: hidden;
  }

  @media (max-width: 640px) {
    .btn {
      padding: 4px 8px;
    }
  }
  
}  